html {
	background: #000;
	color: #fff;
}
.content-container {
	display: grid;
	grid-template-columns: 810px 410px 310px;
    grid-gap: 5px;
}
h1 {
	text-align: center;
	color: #ff69b4;
}
canvas {
	background: #333;
}
#results {
	background: #333;
	grid-area: results;
}
form {
	background: #222;
	width: 400px;
}